PATH=${PWD}/bin:${PATH}

set -a
SITE_DOMAIN=crdant.io
EMAIL=chuck@${SITE_DOMAIN}
WWW_ALIAS=www.${SITE_DOMAIN}
CERTBOT_DIR=/usr/local/etc/certbot
LOG_DIR=/usr/local/var/log
WORK_DIR=${PWD}/work
KEY_DIR=${PWD}/keys
KEY_FILE=${KEY_DIR}/crdant-net-5f48c8d88ba2.json
set +a
